:root{
	--background-color: #2f3136;
	--primary-color: #36393f;
}
body{
	background-color: var(--background-color);
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	color: #d7ddde;
	display: flex;
	flex-direction: column;
	font-family: Whitney;
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url('/static/fonts/wh400.woff') format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url('/static/fonts/wh500.woff') format('woff');
}
@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url('/static/fonts/gi600.woff') format('woff');
}

svg{
	vertical-align: bottom;
}